In [ ]:
# NumPy and Pandas Assignment
# Complete the following tasks by filling in the code where indicated.
# Ensure your notebook is well-documented with markdown cells explaining your code and result.

import numpy as np
import pandas as pd

# Task 1: NumPy Basics

### Array Creation
#### 1. Create an array of 10 zeros but set the fifth element to 1.

In [ ]:
# solution
my_array = np.zeros(10)  # Create 10 zeros
my_array[4] = 1  # Setting the fifth element to 1
print(my_array)

### 2. Create a 4x4 matrix with values ranging from 0 to 15.

In [ ]:
# solution
matrix = np.arange(16).reshape(4, 4)  # Create numbers 0 to 15 and reshape into 4x4
print(matrix)

### Array Operations

#### 3. Create two NumPy arrays: Perform element-wise addition, subtraction, multiplication, and division.
#### arr1: array([[41, 30, 10], [ 6, 35, 23], [23,  9, 10]])
#### arr2: array([[4, 29,  2], [5, 13,  3], [24, 16,  7]])

In [ ]:
# solution
arr1 = np.array([[41, 30, 10], 
                [ 6, 35, 23], 
                [23,  9, 10]])

arr2 = np.array([[ 4, 29,  2], 
                [ 5, 13,  3], 
                [24, 16,  7]])
# addition: arr1 + arr2
addition = arr1 + arr2
# subtraction: arr1 - arr2 
subtraction = arr1 - arr2
# division: arr1 / arr2
division = arr1 / arr2
# multiplication: arr1 * arr2
multiplication = arr1 * arr2

print("Addition:\n ", addition)

print("Subtraction:\n ", subtraction)

print("Division:\n ", division)

print("Multiplication:\n ", multiplication)

### Array Slicing
#### 4. Given the array: 
#### arr = np.array([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])
#### Extract elements from index 2 to 6.

In [ ]:
# solution
arr = np.array([10, 20, 30, 40, 50, 60, 70, 80, 90, 100])

sliced_arr = arr[2:7]
print("Slicing:\n ", sliced_arr)

### Using NumPy Methods
#### 5. Convert the array below to a 3Ã—3 NumPy array.
#### array([[15, 18, 20], [15, 30, 8], [25, 30, 60]])
#### Find the mean, sum, and maximum value.

In [ ]:
# solution
arr = np.array([[15, 18, 20], [15, 30, 8], [25, 30, 60]])
# NB: round the mean to two decimal places

mean = np.mean(arr).round(2)
sum_value = np.sum(arr)
max_value = np.max(arr)

print("Mean: ", mean)

print("Sum: ", sum_value)

print("Max: ", max_value)

# Task 2: Pandas Basics

### Creating a Pandas Series
#### 1. Create a Pandas Series from the list [10, 20, 30, 40, 50] with index labels 'a', 'b', 'c', 'd', 'e'.

In [ ]:
# solution
data = [10, 20, 30, 40,50]

index = ['a', 'b', 'c', 'd','e']

series = pd.Series(data, index=index)

print(series)

### Reading a CSV File
#### 2. Read a CSV file named "data.csv" into a Pandas DataFrame. The CSV file has the following columns: "Name", "Age", "Salary".

In [58]:
df = pd.read_csv('data/data.csv')
print(df)

       Name  Age  Salary
0     Alice   29   73193
1       Bob   53   85398
2   Charlie   36   47162
3     David   22   65853
4       Eve   24   36168
5     Frank   58   69657
6     Grace   41   85202
7    Hannah   38   62421
8     Isaac   50   74641
9      Jack   47   38963
10    Karen   34   32136
11      Leo   49   41874
12     Mona   56   34070
13     Nina   49   91734
14    Oscar   30   89539
15     Paul   23   78720
16    Quinn   31   54424
17   Rachel   54   59900
18    Steve   36   32163
19     Tina   56   52054

### Slicing a DataFrame
#### 3. From the DataFrame created in Exercise 2, select only the first three rows.

In [ ]:
first_three_rows = df.head(3)
print(first_three_rows)

### Manipulating a DataFrame - Adding a Column
#### 4. Add a new column named "Tax" to the DataFrame from Exercise 2. The tax should be calculated as 10% of the "Salary" column.

In [ ]:
# Adding a new 'Tax' column and 'Score' column
df['Tax'] = df['Salary'] * 0.10
df['Score'] = np.random.randint(50, 100, size=len(df))

# Print the DataFrame with the added columns
print("Data with Tax Column and Score Column:\n", df.head())

#### Filter the dataframe by the column "age" whereby the age is above 36 years

In [ ]:
# solution
filtered_df = df[df['Age'] > 36]
print("Filtered Data (Age > 36):\n", filtered_df)

# Task 3: Data Analysis with Pandas

### Aggregation - Compute Total and Mean Sales
#### 1. Given a dataset of sales transactions, compute the total and mean sales per region.

In [ ]:
# Sample Data
sales_data = pd.DataFrame({
    "Region": ["North", "South", "North", "West", "South", "West"],
    "Sales": [1000, 1500, 1200, 1800, 1300, 1700]
})
sales_data.head()

# Compute total and mean sales per region
total_sales = sales_data.groupby("Region")["Sales"].sum()
mean_sales = sales_data.groupby("Region")["Sales"].mean()
print("Total Sales per Region:\n", total_sales)
print("Mean Sales per Region:\n", mean_sales)

### Merging - Combine Customer and Order Data
#### 2. Merge customers and orders data based on CustomerID.

In [ ]:
# solution
customers = pd.DataFrame({
    "CustomerID": [1, 2, 3, 4],
    "CustomerName": ["Alice", "Bob", "Charlie", "David"]
})

orders = pd.DataFrame({
    "OrderID": [101, 102, 103, 104],
    "CustomerID": [1, 2, 2, 4],
    "Amount": [250, 400, 600, 150]
})


merged_data = customers.merge(orders, on="CustomerID", how="inner")
print("Merged Customer and Order Data:\n", merged_data)

### Joining - Left Join Employee Data
#### 4. Perform a left join between employees and departments on DeptID.

In [ ]:
# solution

employee_data = pd.DataFrame({
    "EmpID": [101, 102, 103, 104],
    "EmpName": ["John", "Jane", "Alice", "Bob"],
    "DeptID": [1, 2, 2, 3]
})

departments = pd.DataFrame({
    "DeptID": [1, 2, 3],
    "DeptName": ["HR", "Finance", "IT"]
})
merged_emp_dept = pd.merge(employee_data, departments, on="DeptID", how="left")
print("Left Join Employee and Department Data:\n", merged_emp_dept)

### Pivot Table - Summarize Sales Data
#### 4. Create a pivot table showing total sales for each Region and Product.

In [ ]:
# solution
sales_pivot_data = pd.DataFrame({
    "Region": ["North", "North", "South", "South", "West", "West"],
    "Product": ["A", "B", "A", "B", "A", "B"],
    "Sales": [200, 300, 150, 400, 250, 500]
})

pivot_table = sales_pivot_data.pivot_table(index="Region", columns="Product", values="Sales", aggfunc="sum")
print("Pivot Table:\n", pivot_table)